html, body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
}

	a:hover {
		text-decoration: underline;
	}

img {
	border:0;
	margin:0;
	padding:0;
	float: left;
}

main {
	background-color: #f9f9f950;
}
	
.fixed-container {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

#hamburger_line {
	display: none;
}

#header {
	border-bottom: 1px solid #bfbdbd;
	height: 90px;
	font-size: 25px;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	background-color: white;
	z-index: 1;
}
	#logo {
		float: left;
	}

	.artists {
		float: left;
		position: relative;
		top: 30px;
		left: 30px;
	}

	.about_us {
		position: relative;
		top: 30px;
		float: left;
		margin-left: 350px;
		cursor: pointer;
	}

		.about_us:hover {
			text-decoration: underline;
		}

	.videos {
		float: right;
		position: relative;
		top: 30px;
		cursor: pointer;
	}

		.videos:hover {
			text-decoration: underline;
		}

	#hamburger_pic {
		display: none;
	}

#flex_container {
	overflow: hidden;
	background-color: #f9f9f950;
	padding-bottom: 50px;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	flex-grow: 1; 
}

.header-main {
	padding-top: 140px;
	text-align: center;
	font-weight: bold;
	font-family: Arial;
	font-size: 25px;
}

	.flex_item {

	}

	.flex_item img {
		padding-bottom: 5px;
	}

.flex_discribe {
	text-align: center;
	padding: 30px 0 5px 0;
}

.flex_link {
	text-align: center;
}

#footer {
	padding: 10px 0;
	border-top: 1px solid #bfbdbd;
}

	#logo_footer {
		padding-bottom: 10px;
	}

	#icons {
		float: right;
	}

	#vk_logo {
		margin-right: 10px;
	}

#popup_container {
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: url('img/bg.png');
	z-index: 10;
	display: none;
	font-family: Arial;
	font-size: 16px;
}

	#popup {
		width: 40%;
		height: 100%;
		background-color: white;
		padding: 20px;
		margin: 10px auto;
		overflow-y: scroll;
		padding-bottom: 50px;
	}

	.flex_popup {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

		.flex_popup img {
			margin-right: 10px;
			max-width: 300px;
		}

	#popup_discribe {
		text-align: center;
	}

	.flex_popup_mail {
		margin-top: 10px;
	}	

	#mayak {
		margin-top: 30px;
	}

	#kochetkova {
		margin-bottom: 70px;
	}

	#cancel {
		float: right;
		max-width: 25px;
		cursor: pointer;
	}

@media (max-width: 1285px) {
	#header {
		position: static;
	}	
	.flex_popup_discribe {
		width: 70%;
	}
	.flex_popup img {
		padding-bottom: 5px;
	}
	#popup {
		font-size: 14px;
	}
	#cancel {
		max-width: 20px;
	}
	.header-main {
		padding-top: 30px;
	}
}

@media (max-width: 1220px) {
	.fixed-container {
		padding: 0 30px;
	}
}

@media (max-width: 1199px) {
	.about_us {
		margin-left: 330px;
	}
	.header-main {
		padding-top: 30px;
	}
}

@media (max-width: 1161px) {
	.about_us {
		margin-left: 300px;
	}
}

@media (max-width: 1084px) {
	#header {
		font-size: 20px;
		height: 70px;
	}
	#logo {
		max-width: 100px;
	}
	.about_us {
		margin-left: 280px;
	}
	.flex_item img {
		width: 90%;
	}
	.flex_discribe {
		text-align: left;
		padding-left: 40px;
	}
		.item2 .flex_discribe {
			padding-left: 70px;
		}
		.item3 .flex_discribe {
			padding-left: 50px;
		}
		.item6 .flex_discribe {
			padding-left: 70px;
		}				
	.flex_link {
		text-align: left;
		padding-left: 110px;
	}
	#logo_footer {
		max-width: 100px;
	}
}
 
@media (max-width: 991px) {
	#flex_container {
		flex-direction: column;
		align-content: center;
		padding-left: 20px;
	}
	.artists {
		display: none;
	}
	.about_us {
		display: none;
	}
	.videos {
		display: none;
	}
	#hamburger_pic {
		display: block;
		float: right;
		padding-top: 15px;
		cursor: pointer;
	}
	#mnu_cancel {
		cursor: pointer;
		max-width: 20px;
	}
	#hamburger_line {
		display: none;
		width: 100%;
		height: 50px;
		background-color: white;
		border-bottom: 1px solid #bfbdbd;
	}
	#mnu {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		padding-top: 15px;
	}
	.mnu_about_us {
		cursor: pointer;
	}				
}

@media (max-width: 986px) {
	.about_us {
		margin-left: 100px;
	}
	.flex_popup img {
		max-width: 250px;
	}
	#popup {
		font-size: 12px;
	}
}

@media (max-width: 655px) {
	#flex_container {
		padding-left: 45px;
	}
}

@media (max-width: 500px) {
	#popup {
		font-size: 10px;
	}
}

@media (max-width: 600px) {
	.flex_popup img {
		max-width: 200px;
	}
	.flex_popup {
		padding-left: 0;
	}
	#cancel {
		max-width: 15px;
	}	
}

@media (max-width: 470px) {
	.flex_popup img {
		max-width: 150px;
	}
	#cancel {
		max-width: 10px;
	}		
}

@media (max-width: 435px) {
	#flex_container {
		padding-left: 45px;
		font-size: 14px;
	}
	#icons img {
		max-width: 30px;
	}
	.header-main {
		font-size: 18px;
	}
	#hamburger_line {
		font-size: 14px;
	}
	#logo {
		max-width: 70px;
	}
	#logo_footer {
		max-width: 70px;
	}
	#header {
		height: 50px;
	}
	#hamburger_pic {
		padding-top: 10px;
		width: 20px;
	}
	#mnu_cancel {
		max-width: 15px;
	}
}

@media (max-width: 395px) {
	.item1 .flex_discribe {
		padding-left: 35px;
	}
	.item2 .flex_discribe {
		padding-left: 55px;
	}
	.item3 .flex_discribe {
		padding-left: 40px;
	}
	.item4 .flex_discribe {
		padding-left: 30px;
	}
	.item5 .flex_discribe {
		padding-left: 30px;
	}
	.item6 .flex_discribe {
		padding-left: 60px;
	}
	.flex_link {
		padding-left: 90px;
	}					
}

@media (max-width: 378px) {
	.item3 .flex_discribe {
		padding-left: 35px;
	}
	.item6 .flex_discribe {
		padding-left: 50px;
	}
		.flex_link {
		padding-left: 85px;
	}					
}

@media (max-width: 359px) {
	.item1 .flex_discribe {
		padding-left: 15px;
	}
	.item2 .flex_discribe {
		padding-left: 30px;
	}
	.item3 .flex_discribe {
		padding-left: 20px;
	}
	.item4 .flex_discribe {
		padding-left: 15px;
	}
	.item5 .flex_discribe {
		padding-left: 15px;
	}
	.item6 .flex_discribe {
		padding-left: 30px;
	}
	.flex_link {
		padding-left: 70px;
	}							
}

@media (max-width: 359px) {
	.item1 .flex_discribe {
		padding-left: 5px;
	}
	.item2 .flex_discribe {
		padding-left: 20px;
	}
	.item3 .flex_discribe {
		padding-left: 10px;
	}
	.item4 .flex_discribe {
		padding-left: 5px;
	}
	.item5 .flex_discribe {
		padding-left: 5px;
	}
	.item6 .flex_discribe {
		padding-left: 20px;
	}
	.flex_link {
		padding-left: 60px;
	}							
}

@media (max-width: 321px) {
	.item1 .flex_discribe {
		padding-left: 15px;
	}
	.item2 .flex_discribe {
		padding-left: 35px;
	}
	.item3 .flex_discribe {
		padding-left: 20px;
	}
	.item4 .flex_discribe {
		padding-left: 10px;
	}
	.item5 .flex_discribe {
		padding-left: 10px;
	}
	.item6 .flex_discribe {
		padding-left: 30px;
	}
	.flex_link {
		padding-left: 65px;
	}
	#flex_container {
		padding-left: 30px;
	}							
}

